
:root {
    --dark-green: #1f904e;
    --light-green: #38db6e;

    --dark-blue: #0448bf;
    --light-blue: #2ea1ff;

    --dark-purple: #4300a9;
    --light-purple: #6637ff;

    --dark-red: #9a0000;
    --light-red: #f52727;

    --dark-orange: #a84a0b;
    --light-orange: #ff9e28;

    --dark-yellow: #caa800;
    --light-yellow: #ffd220;
}

