body.project #windowFrame {
  grid-template-columns: 0 75%  25% 0 !important;
  grid-template-rows: 40px 64% 10% 80px;
}

body.project #windowFrame #frame,
body.project #windowFrame canvas,
body.project #windowFrame svg {
  grid-column-start: 2;
  grid-row-start: 2;
  align-items: start;
}

body.project #windowFrame > div {
  display: inline-flex;
  grid-column-start: 2;
  grid-row-start: 3;
}

#colorBlocks {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1em;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  width: 40px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #333;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #333;
}

.switch input:checked + .slider:before {
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 24px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

@media (min-width: 54rem) {
  body.project #windowFrame {
    grid-template-columns: 1fr 80% 10% 1fr;
    grid-template-rows: 1fr 80% 1fr;
  }

  body.project #windowFrame #frame,
  body.project #windowFrame canvas,
  body.project #windowFrame svg {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  body.project #windowFrame > div {
    display: block;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
  }
}
