#windowFrame {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1fr 80% 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--color-bg), var(--color-solid));
}

#windowFrame > div p,
#windowFrame > div small,
#windowFrame > div label {
    color: #333;
}

#windowFrame svg {
    position: static;
    z-index: 99;
}

#windowFrame #frame,
#windowFrame canvas,
#windowFrame svg {
    position: static;
    display: block;
    grid-column-start: 2;
    grid-row-start: 2;
    object-fit: contain;
    max-width: 96%;
    max-height: 96%;
    width: auto !important;
    height: auto !important;
    background: linear-gradient(to bottom, #222, #000);
box-shadow: var(--box-shadow-default);
}

@media (min-width: 20rem) {
    #windowFrame {
        height: calc(100vh - 60px);
    }

    #windowFrame #frame,
    #windowFrame svg,
    #windowFrame canvas {
        padding: 4px;
        margin: 0 auto;
    }
}

@media (min-width: 54rem) {
    #windowFrame {
        height: 100vh;
    }
    #windowFrame #frame,
    #windowFrame svg,
    #windowFrame canvas {
        padding: 20px;
}
}

svg {
    float: left;
}

svg::after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

#interactiveParameter {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
}

#interactiveParameter input,
#interactiveParameter button {
    margin-bottom: 1em;
}
