@import '../../src/sass/variables';
@import '../../src/sass/mixins';

#windowFrame {
    flex-flow: column-reverse nowrap;
    @include breakpoint(md) {
        flex-flow: row-reverse nowrap;
    }
}
#interactiveParameter {
    display: flex;
    flex-flow: column nowrap;
}
p,
input,
label,
select,
#colorBlocks {
    line-height: 0.5;
    margin: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    text-align: center;
}
#colorBlocks {
    display: flex;
    flex-flow: row nowrap;
}
input[type='text'] {
    display: none;
    @include breakpoint(md) {
        display: block;
    }
}

label {
    text-shadow: 0 0 4px #fff;
    pointer-events: none;
}
