body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: block;
    position: relative;
    padding: 2em 3em 0 3em;
}

section.projects {
    ul {
        margin-left: 0;
        @include breakpoint(xs) {
            padding: 0;
        }
        @include breakpoint(md) {
            padding: 0 3em 0 0;
        }
        list-style-type: none;
        max-width: 100%;
    }
}
section.projects ul a,
aside ul a {
    text-decoration: none;
    color: $color_text;
}
@include breakpoint(md) {
    aside.column.info,
    aside.column.about {
        float: right;
    }
    section.projects {
        float: left;
    }
}
