body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: block;
    position: relative;
    padding: 2em 3em 0 3em;
}

aside,
section.projects {
    ul {
        margin-left: 0;
        padding: 0 3em 0 0;
        list-style-type: none;
        max-width: 100%;

        a {
            text-decoration: none;
            color: $color_text;
        }
    }
}
