@import 'variables';
@import 'mixins';

#windowFrame {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    @include breakpoint(md) {
        flex-flow: row nowrap;
    }
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #f1f1f1, #f5f5f5);
}
#frame,
canvas {
    position: static;
    display: block;
    @include breakpoint(xs) {
        padding: 0;
        background: transparent;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
    }
    @include breakpoint(md) {
        padding: 20px;
        background: linear-gradient(to bottom, #222, #000);
        box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.15);
    }
    //z-index: -1;
}

#interactiveParameter {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;

    input,
    button {
        margin-bottom: 1em;
    }
}
