@import 'variables';
@import 'mixins';
@include font-face(Inter, 'fonts/Inter-Bold', 500, normal, woff2 woff);
@import 'commons';
@import 'modules/orderGridButton';
@import 'modules/thumbnailGrid';

body {
    background: ghostwhite;
}
main {
    display: block;
    padding: 1em 0 0 0;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header#top,
#grid-gallery {
    width: 100%;
}

header#top {
    display: flex;
    flex-flow: row wrap;

    @include breakpoint(md) {
        padding: 0 1.5em;
        flex-flow: row nowrap;
    }
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

header#top img#logo,
header#top form#orderGrid {
    padding: 0;
    @include breakpoint(md) {
        padding-right: 1.5em;
    }
}
header#top div.acronym-block {
    position: relative;
    width: calc(100% - 80px);
    text-align: right;
    @include breakpoint(md) {
        text-align: left;
        max-width: unset;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -1em;
        opacity: 0;
        z-index: -1;
    }
    &:hover button {
        opacity: 1;
    }
}
header#top h1,
header#top h2,
header#top h3 {
    margin: 0;
    text-transform: capitalize;
}

header#top img#logo {
    margin: 1em 0;
    width: 80px;
    height: 80px;
}

header#top form {
    flex: 1 0 auto;
}
div.about {
    aside ul {
        list-style-type: none;
    }
    aside ul,
    blockquote {
        padding: 1em;
        @include breakpoint(sm) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
    }
    blockquote {
        margin: 0;
    }
    @include breakpoint(md) {
        display: flex;
        flex-flow: row nowrap;

        p {
            flex: 0 1 auto;
        }
        aside {
            flex: 1 0 auto;
        }
    }
}

footer {
    padding: 1em;
}
