@import 'variables';
@import 'mixins';
@import 'commons';

@include font-face(Inter, '../fonts/Inter-Bold', 500, normal, woff2 woff);

header.headimg {
    padding-bottom: 50vh;
}

main {
    display: block;
    padding: 1em 3em 4em 1em;
}

@import 'modules/aside';
@import 'modules/project-section';

aside,
section.project {
    ul {
        margin-left: 0;
        padding: 0;
        list-style-type: none;

        a {
            text-decoration: none;
            color: #333;
        }
    }
}
@import 'modules/columns';

section.project {
    display: block;
    float: right;
    @include breakpoint(xs) {
        margin-top: 1.5rem;
        width: 100%;
    }
    @include breakpoint(sm) {
        width: 50%;
    }
    @include breakpoint(md) {
        margin-top: 0;
        width: 66%;
    }
    @include breakpoint(lg) {
        width: 70%;
    }
    @include breakpoint(xl) {
        width: 80%;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
}
aside.column.about {
    @include breakpoint(xs) {
        clear: both;
        float: none;
        border-top: 1px solid #333;
        padding-top: 4em;
    }
    @include breakpoint(sm) {
        clear: none;
        float: unset;
        border-top: none;
    }
}
