@import "commons";

header.headimg {
  padding-bottom: 30%;
  background: center / cover no-repeat
    url(../img/Mondrian-City.2019-10-2_14.34.29--copyright_Nicolas_Lebrun_CC-by-3.0.svg);
}
main {
  padding: 1em 3em;
}
aside,
section.projects {
  ul {
    padding: 0;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #333;
    }
  }
}
aside {
  margin-right: 5em;
  #acronym {
    text-transform: capitalize;
    cursor: pointer;
  }

  p {
    max-width: 300px;
  }
}
section.projects {
  padding-top: 0.5em;
}
section.projects ul li {
  padding-bottom: 1em;
}
section.projects ul li a {
  text-transform: uppercase;
}
.column {
  display: block;
  width: 20%;
  float: left;
}
