ul {
  list-style-type: none;
}

li.seeds {
  padding: 0.5em 0;
  margin-bottom: 0.33em;
  text-align: center;
  color: #111;
  background: #f1fef1;
  cursor: pointer;
}
li.seeds:hover,
li.seeds:focus,
li.seeds.active {
  background: var(--color-primary);
  color: #fff;
}
