#windowFrame #interactiveParameter {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  align-items: center;
}
#windowFrame #interactiveParameter label,
#windowFrame #interactiveParameter input[type='range'],
#windowFrame #interactiveParameter input[type='text'] {
  line-height: 16px;
  font-size: 12px;
}

#windowFrame #interactiveParameter label {
  padding: 0;
  margin-left: 1.5em;
  color: white;
}
#windowFrame #interactiveParameter input[type='text'] {
  width: 3em;
  text-align: center;
}
