//+----------------------------------+
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

- const projectCount = projects.length;
- const totalCol = 4;
- const projectPerCol = Math.ceil( projectCount / totalCol);
- var columns = [];
- for( var col = 0; col < totalCol; col++ ) {
  - columns.push(projects.slice(projectPerCol * col, projectPerCol * (col + 1 ) ) ); 
- }

html(lang="en")
  include parts/head.pug
  +head(title, srcPath)
  body
  
    include parts/svg-defs.pug

    header#hero-image.headimg
    
    main
      
      aside.column.info

        h1 AЯT ∑MG
	
        h3#acronym
        p Here you will find essays that are a way for me to discover mathematics. 
        p 
          |Most programs use randomness to define shapes, others are animations 
          |that question the concept of infinity.
      section.project

        each col in columns

          div.column
            ul
              each project in col
                li
                  a(href="./sketch/" + project.name ) 
                    h3 #{unescapeTitle(project.name)}
                    small #{project.date}
        
      aside.column.about
        ul
          li  
            a(href="https://twitter.com/Nicolas_Lebrun_") 
              svg.icon.icon-twitter 
                use(xlink:href="#icon-twitter")
              span Twitter
          
          li
            a(href="https://github.com/nclslbrn") 
              svg.icon.icon-github
                use(xlink:href="#icon-github")
              span Github
          li
            a(href="https://nicolas-lebrun.fr")
              svg.icon.icon-link
                use(xlink:href="#icon-link")
              span Site

          li  
            a(href="mailto:nl@artemg.com") 
              svg.icon.icon-mail
                use(xlink:href="#icon-mail")
              span Mail

        p - Nicolas Lebrun 
      
      .clearfix

