//+----------------------------------+
<!--|..#{title}                    -------------|-->
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

doctype html
html(lang="en")
    include parts/head.pug
    +head(title, srcPath)
body.project
    include parts/svg-defs.pug
    include parts/offFrame.pug
    include parts/iconav.pug

    +offFrame(title, property)
    +iconav(property)   
    div#windowFrame

        include parts/spinner.pug
    
    include parts/libs.pug
    +libs(property)
