//+----------------------------------+
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

- const projectCount = projects.length;
- const totalCol = 3;
- const projectPerCol = Math.ceil( projectCount / totalCol);
- var columns = [];
- for( var col = 0; col < totalCol; col++ ) {
  - columns.push(projects.slice(projectPerCol * col, projectPerCol * (col + 1 ) ) ); 
- }

html(lang="en")
  include parts/head.pug
  +head(title, srcPath)
  body
  
    include parts/svg-defs.pug
    header.headimg
    
    main
      
      aside.column.info
        h1 ART/E.M.G
        h3#acronym
        p 
          | This website showcases various experiments with 
          | great JavaScript libraries and HTML5 canvas API.

      section.project

        each col in columns

          div.column
            ul
              each project in col
                li
                  a(href="./sketch/" + project ) #{unescapeTitle(project)}

      aside.column.about
        ul
          li  
            a(href="https://twitter.com/Nicolas_Lebrun_") Twitter
          
          li
            a(href="https://github.com/nclslbrn") Github
          
          li  
            a(href="mailto:nl@artemg.com") Mail
        p - Nicolas Lebrun 
