//+----------------------------------+
<!--|..#{title}                    -------------|-->
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

html(lang="en")
  include parts/head.pug
body
  include parts/svg-defs.pug
  include parts/nav.pug
  
  #loading
    .spinner
      .double-bounce1
      .double-bounce2

  #info-box
    h1 #{title}
    p #{property.info}


  if property.libs.includes('p5')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js")
  
  else if property.libs.includes("p5-dom")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js")
  
  else if property.libs.includes("p5-sound")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js")

  else if property.libs.includes("p5.collide2D")
    script(src="https://cdn.JsDelivr.net/gh/bmoren/p5.collide2D/p5.collide2d.min.js")
  
  else if property.libs.includes("p5.js-svg")
    script(src="https://cdn.JsDelivr.net/gh/zenozeng/p5.js-svg/dist/p5.svg.js")

  else if property.libs.includes('three')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js")
  
  else if property.libs.includes('svg')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.13/svg.min.js")
