//+------------------------------+
//|  ARTEMG.COM ..................|
//|  Author: Nicolas Lebrun ......|
//|  License: MIT License ........|
//+------------------------------+
- const projectCount = projects.length;
- const totalCol = 3;
- const projectPerCol = Math.ceil( projectCount / totalCol);
- var columns = [];
- for( var col = 0; col < totalCol; col++ ) {
  - columns.push(projects.slice(projectPerCol * col, projectPerCol * (col + 1 ) ) ); 
- }

html(lang="en")
  include parts/head.pug

  body
  
    include parts/svg-defs.pug
    header.headimg
    
    main
      
      aside.column
        h1 A.R.T.E.M.G
        h3#acronym
        p 
          | This website showcases various experiments with 
          | great JavaScript libraries and HTML5 canvas API.
          | 
        
        ul
          li  
            a(href="https://twitter.com/Nicolas_Lebrun_") Twitter
          
          li
            a(href="https://github.com/nclslbrn") Github
          
          li  
            a(href="https://www.instagram.com/nclslbrn/") Instagram
        p - Nicolas Lebrun 

      section.projects

        each col in columns

          div.column
            ul
              each project in col
                li
                  a(href="./sketch/" + project ) #{project}
