//+------------------------------+
//|  ARTEMG.COM ..................|
//|  Author: Nicolas Lebrun ......|
//|  License: MIT License ........|
//+------------------------------+
html(lang="en")
  include parts/head.pug
body
  include parts/back.pug
  
  #p5_loading
    .spinner
      .double-bounce1
      .double-bounce2

  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js")