//+----------------------------------+
<!--|..#{title}                    -------------|-->
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

doctype html
html(lang="en")
    include parts/head.pug
    +head(title, srcPath)
body.project
    include parts/svg-defs.pug
    include parts/offFrame.pug
    //include parts/iconav.pug
    //+iconav(property)

    +offFrame(title, property)
    button(data-action="openOffWindowBar")
        svg.icon.icon-chevron-left
            use(xlink:href="#icon-chevron-left")

    div#windowFrame

        include parts/spinner.pug
    //include parts/infobox.pug

    //+infobox(title, property)
    include parts/libs.pug
    +libs(property)
