:root {
    @media (prefers-color-scheme: dark) {
        --color-text: #d8e6e5;
        --color-body: #141010;
        --color-interactive: #191919;
        --color-hover: #f65855;
    }
    @media (prefers-color-scheme: light) {
        --color-text: #333;
        --color-body: #f1f1f1;
        --color-interactive: #f5f5f5;
        --color-hover: #bd3355;
    }
}
