head
  title= "Quick project :: N.Lebrun"
  meta( charset="utf-8" )
  meta( http-equiv="x-ua-compatible" content="ie=edge" )
  meta( name="author" content="Nicolas Lebrun" )
  meta( name="robots" content="all,follow" )
  meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
  link( rel="stylesheet", type="text/css", href= srcPath +"css/main.css", media="screen, print" )
