mixin iconav(property)
    nav#iconav
        ul
            li
                a(href="../../") 
                    span.screen-reader-text Back
                    svg.icon.icon-forward
                        use(xlink:href="#icon-home")
            li
                a(href="#" data-action="infobox")
                    span.screen-reader-text Info
                    svg.icon.icon-bubble
                        use(xlink:href="#icon-bubble")



            if property.action != null
                each action in property.action
                    if action.name != null
                        li
                            a(data-action=action.name href="#")
                                span.screen-reader-text action.name
                                svg.icon.icon-cog
                                    if action.icon != null
                                        use(xlink:href="#icon-"+ action.icon)
                                    else
                                        use(xlink:href="#icon-cog")


            li
                a(href="https://github.com/nclslbrn/make/tree/master/"+ project)
                    span.screen-reader-text Info
                    svg.icon.icon-forward
                        use(xlink:href="#icon-book")
