@import './color.css';

@font-face {
    font-family: Geist;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('GeistVF.woff2') format('woff2');
}

:root {
    font-family: 'Geist', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Geit', sans-serif;
        font-optical-sizing: auto;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--color-bg);
    color: var(--color-text);
    height: 100vh;
    height: -webkit-fill-available;
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app,
#windowFrame {
    height: 100vh;
    height: -webkit-fill-available;
}

h1,
h2,
h3,
h4 {
    font-weight: 900;
}

h1 {
    font-size: 2.3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
p {
    line-height: 2;
    margin-bottom: 1.6em;
}

main {
    padding: 1rem 1rem 0 1rem;
}

figure,
video,
audio {
    margin: 1rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-primary);
}

label,
button,
.button {
    padding: 1rem;
    color: var(--color-text);
}

button,
.button {
    background: transparent;
    cursor: pointer;
    background-color: var(--color-solid);
    border: 1px solid var(--color-border);

    transition: all 0.15s ease-in-out;
}

a.button {
    text-decoration: none;
}

button.small {
    padding: 0.5rem;
}

button svg,
.button svg {
    fill: var(--color-text);
    width: 2em;
    height: 2em;
}

button.active,
.button.active {
    color: var(--color-secondary);
}

button.active svg,
.button.active svg {
    fill: var(--color-secondary);
}

button:hover,
.button:hover {
    color: var(--color-primary);
    /* box-shadow: 0 0 2px var(--color-primary); */
}

button:hover svg,
button:focus svg,
.button:hover svg,
.button:focus svg {
    fill: var(--color-primary);
}

p,
input {
    font-size: 1em;
    hyphens: auto;
    word-wrap: break-word;
}

small {
    font-size: 0.8rem;
}

p span.invisible {
    display: none;
}

.app-footer p span {
    padding: 1rem;
}

.app-footer p button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
}

@media screen and (min-width: 900px) {
    .app-footer p {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }
}

/** 
  Settings  
*/
button span.theme-color {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--border-color);
}

body[mode='dark'] button[title='blue'] span.theme-color {
    background: var(--light-blue);
}

body[mode='light'] button[title='blue'] span.theme-color {
    background: var(--dark-blue);
}

body[mode='dark'] button[title='green'] span.theme-color {
    background: var(--light-green);
}

body[mode='light'] button[title='green'] span.theme-color {
    background: var(--dark-green);
}

body[mode='dark'] button[title='purple'] span.theme-color {
    background: var(--light-purple);
}

body[mode='light'] button[title='purple'] span.theme-color {
    background: var(--dark-purple);
}

body[mode='dark'] button[title='red'] span.theme-color {
    background: var(--light-red);
}

body[mode='light'] button[title='red'] span.theme-color {
    background: var(--dark-red);
}

body[mode='dark'] button[title='orange'] span.theme-color {
    background: var(--light-orange);
}

body[mode='light'] button[title='orange'] span.theme-color {
    background: var(--dark-orange);
}

body[mode='dark'] button[title='yellow'] span.theme-color {
    background: var(--light-yellow);
}

body[mode='light'] button[title='yellow'] span.theme-color {
    background: var(--dark-yellow);
}
