aside {
    @include breakpoint(md) {
        * {
            padding-right: 6rem;
        }
    }
    h1 {
        margin: 0 0 1em 0;
    }
    .acronym-block {
        display: block;
        position: relative;
        padding: 0 3rem 0 0;
        margin-right: 1.5em;
        margin-bottom: 1.5rem;
        cursor: pointer;

        * {
            padding: 0;
        }
        #acronym {
            position: static;
            text-transform: capitalize;
            margin: 0;
            min-height: 2em;
            z-index: 2;
        }
        &:hover #acronym {
            color: $color_hover;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -1em;
            left: -1em;
            right: 100%;
            bottom: -1em;
            background-color: $color_body;
            z-index: -1;
            right: 0;
            border: 1px solid $color_body;
            transition: $transition;
            //transition: right 0.15s ease-in-out;
        }
        button.button {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1.25rem;
            padding: 1rem;
            line-height: 0.5rem;
            border: 0;
            opacity: 0;
            background: $color_hover;
            color: $color_body;
            border: 1px solid $color_body;
            transition: $transition;
        }
        &:hover::before {
            z-index: -1;
            right: -1em;
            border: 1px solid $color_hover;
        }
        &:hover button.button {
            border: 1px solid $color_hover;
            opacity: 1;
        }
    }

    p {
        max-width: 300px;
    }
    ul {
        margin-top: 0.5rem;
    }
    ul li {
        margin-bottom: 0.5rem;
    }
    ul li {
        padding: 0.5rem;
        @include breakpoint(xl, md) {
            display: inline-block;
        }
    }
    ul li a,
    ul li a svg {
        padding-right: 0.25em;
    }
    ul li a svg {
        width: 1em;
        height: 1em;
    }
}

aside.column.about {
    position: relative;
    @include breakpoint(xs) {
        clear: both;
        float: none;
        border-top: 1px solid $color_text;
        padding-top: 4em;
    }
    @include breakpoint(sm) {
        clear: left;
        float: left;
        border-top: none;
    }
    ul {
        position: relative;
        max-width: 100%;
        li {
            display: block;
            float: left;
            margin: 0.5em 0;
            width: 42%;
        }
    }
    ul li a {
        padding: 0.5em 0.25em;
        &:hover {
            text-decoration: underline;
        }
    }
    ul li a span {
        padding: 0 0.5em 0 0;
    }
    ul::after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
}
