aside {
    @include breakpoint(md) {
        * {
            padding-right: 4rem;
        }
    }

    #acronym {
        text-transform: capitalize;
        cursor: pointer;
    }

    p {
        max-width: 300px;
    }
    ul {
        margin-top: 0.5rem;
    }
    ul li {
        margin-bottom: 0.5rem;
    }
    ul li {
        padding: 0.5rem;
        @include breakpoint(xl, md) {
            display: inline-block;
        }
    }
    ul li a,
    ul li a svg {
        padding-right: 0.25em;
    }
    ul li a svg {
        width: 1em;
        height: 1em;
    }
}

aside.column.about {
    position: relative;
    @include breakpoint(xs) {
        clear: both;
        float: none;
        border-top: 1px solid #333;
        padding-top: 4em;
    }
    @include breakpoint(sm) {
        clear: none;
        float: unset;
        border-top: none;
    }
    ul {
        position: relative;
        max-width: 100%;
        li {
            display: block;
            float: left;
            margin: 1em 0;
            padding: 0;
            width: 35%;
        }
    }
    ul li a span {
        padding-right: 1em;
    }
    ul::after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
}
