header.headimg {
    position: relative;
    padding-bottom: 50vh;
    overflow: hidden;
    button.button {
        position: absolute;
        right: 0.5em;
        top: 100%;
        padding: 1em;
        margin-top: 1em;
        font-size: 1em;
        line-height: 1;
        transform: translate(0, 100%);
        outline: none;
        border-radius: 0;
        border: none;
        background: $color_body;
        font-weight: 400;
        font-family: sans-serif;
        box-shadow: $shadows_default;
        transition: $transition;
    }
    &:hover {
        box-shadow: inset $shadows_hover;
    }
    &:hover button.button {
        box-shadow: $shadows_hover;
        cursor: pointer;
    }
    button.button:hover {
        text-decoration: underline;
    }
}
header.headimg:hover button.button {
    transform: translate(0, -4em);
}
