header.headimg {
    position: relative;
    padding-bottom: 50vh;
    overflow: hidden;
}
header.headimg button.button {
    position: absolute;
    right: 0.5em;
    top: 100%;
    padding: 1em;
    margin-top: 1em;
    font-size: 1em;
    line-height: 1;
    transform: translate(0, 100%);
    outline: none;
    border-radius: 0;
    border: none;
    background: #fff;
    font-weight: 400;
    font-family: sans-serif;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.5);
    transition: all 0.05s ease-out;

    &:hover {
        background-color: #f3f3f3;
        cursor: pointer;
    }
}
header.headimg:hover button.button {
    transform: translate(0, -4em);
}
