nav#iconav {
    // mobile
    position: fixed;
    left: 0;
    padding: 0;
    bottom: 1rem;
    height: 3rem;
    width: 100vw;

    @include breakpoint(md) {
        position: absolute;
        top: 0;
        bottom: auto;
        width: 4rem;
        height: 6rem;
    }
    border: none;
    z-index: 10;
}

nav#iconav ul {
    padding: 0;
    margin: 0;
    display: flex;
    //mobile
    flex-flow: row nowrap;
    justify-content: space-around;

    @include breakpoint(md) {
        flex-flow: column nowrap;
        justify-content: stretch;
        width: 4rem;
    }

    list-style-type: none;
}

nav#iconav a {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-body);
    border-radius: 50%;
    opacity: 0.5;
    @include breakpoint(md) {
        &:hover {
            color: var(--color-body);
            fill: var(--color-body);
        }
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        pointer-events: none;
        fill: var(--color-text);
        opacity: 1;
    }
    &:hover {
        background-color: var(--color-hover);
        svg {
            fill: var(--color-body);
        }
    }
}
body.openedOffWindow nav#iconav ul li a[data-action='openOffFrame'] {
    background: var(--color-text);
    color: var(--color-body);
    svg {
        fill: var(--color-body);
    }
}
