section.project {
    display: block;
    float: right;
    @include breakpoint(xs) {
        margin-top: 1.5rem;
        width: 100%;
    }
    @include breakpoint(sm) {
        width: 50%;
    }
    @include breakpoint(md) {
        margin-top: 0;
        width: 66%;
    }
    @include breakpoint(lg) {
        width: 75%;
    }
    @include breakpoint(xl) {
        width: 80%;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
}

section.project {
    padding-top: 0.5em;
}
section.project ul {
    margin: 0;
}
@include breakpoint(xs) {
    section.project > .column:last-child {
        padding-bottom: 4em;
    }
}
section.project ul li {
    padding-bottom: 1em;
}
section.project ul li a {
    text-transform: capitalize;

    h3 {
        margin-bottom: 0.25em;
    }
    &:hover h3 {
        color: #666;
        text-decoration: underline;
    }
}
