section.projects {
    display: block;
    @include breakpoint(xs) {
        margin-top: 1.5rem;
        width: 100%;
    }
    @include breakpoint(sm) {
        width: 50%;
    }
    @include breakpoint(md) {
        margin-top: 0;
        width: 66%;
    }
    @include breakpoint(lg) {
        width: 75%;
    }
    @include breakpoint(xl) {
        width: 80%;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
}

section.projects ul {
    display: flex;
    @include breakpoint(xs) {
        flex-flow: column;
    }
    @include breakpoint(md) {
        flex-flow: row wrap;
    }
    margin: 0;
}

section.projects ul li {
    text-align: left;
    @include breakpoint(md) {
        flex: 1 0 50%;
        max-width: 50%;
        text-align: right;
    }
    @include breakpoint(lg) {
        flex: 1 0 33%;
        max-width: 33%;
    }
    @include breakpoint(lg) {
        flex: 1 0 25%;
        max-width: 25%;
    }
}
section.projects ul li {
    padding: 0 0 1em 0;
}
section.projects ul li a {
    display: block;
    position: relative;
    @include breakpoint(xs) {
        max-width: 100%;
    }
    @include breakpoint(md) {
        max-width: 90%;
    }
    text-transform: capitalize;
    background-color: $color_body;
    transition: $transition;

    h3,
    small {
        position: relative;
        margin: 0.25em;
    }
    h3 {
        display: inline-block;
        float: none;
        clear: both;
        width: auto;
    }
    &:hover {
        color: $color_hover;
    }
    small {
        display: block;
    }
    h3::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $color_body;
        transition: width $transition_duration $transition_timing;
    }
    &:hover h3::after {
        width: 100%;
        background: $color_hover;
    }
}
